*{
    box-sizing: border-box;
}
.first-box {
    display: flex;
    text-align: left center;
    font-size: 20px;
    
}
.font1 {
    padding: 0px 10px;
    border-left: 1px solid gray;
    color: gray;
}
.font2{
    margin: 0px 20px;
    font-size: 25px;
}
.box-container {
    width: 1200px;
    padding: 20px;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "box1 . box2 ."
    "box3 box4 box5 box6"
    "box7 box8 box9 .";
    gap: 30px; */
}
.top{
    display: grid;
    grid-template-columns: 2fr 2fr;

}
.main{
    margin: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.bottom{
    margin: 30px;
    display: grid;
    grid-template-columns: 2fr  1fr 1fr;

}
.box1 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);
}
.box2 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box3 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box4 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box5 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box6 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box7 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box8 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}
.box9 {
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.311);

}

